body{
	background-color:#2F3A2D;
}
	
#k_prvi {
    font-family: Arial;
    color: white;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
}
#ljekarna{
	font-family: Arial;
    color: white;
	background-color:#005500;
	border-radius:20px;
	text-align:center;
	font-size:150%;
	font-weight:bold;
	padding:30px;
	display: block;
	flex-grow: 0;
	flex-shrink: 1;
	flex-basis: auto;
	align-self: auto;
	order: 0;
}

#login{
	color:white;
    font-family: Verdana;
    color:white;
	display: block;
	flex-grow: 0;
	flex-shrink: 1;
	flex-basis: auto;
	align-self: auto;
	order: 0;
}

.kartica{
	font-size: large;
    font-family: Verdana;
	text-align:center;
    color:white;
	border:1px solid white;
	border-radius:10px;
	padding:10px;
	background-color:#005500;
	display: block;
	flex-grow: 0;
	flex-shrink: 1;
	flex-basis: auto;
	align-self: auto;
	order: 0;
}

#k_drugi{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: center;
}

.naslov{
    font-family: Arial;
	color:white;
	font-size:150%;
	display: block;
	flex-grow: 0;
	flex-shrink: 1;
	flex-basis: auto;
	align-self: auto;
	order: 0;
	background-color:#003600;
	border-radius:20px;
	border: 0.5px solid black;
	font-weight:bold;
	padding:10px;
}
.k2{
	font-size: large;
    font-family: Verdana;
	text-align:center;
    color:white; 
	padding:20px;
	margin-top:1%;
	margin-bottom:3%;
	background-color:#005500;
	border-radius:30px;
	display: block;
	flex-grow: 0;
	flex-shrink: 1;
	flex-basis: auto;
	align-self: auto;
	order: 0;
}

#aut {
    text-align:center;
    font-family: Verdana;
	color:white;
}
#k_treci{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
}
.k3{
	font-family: Arial;
    color: white;
	background-color:coralgray;
	border:0.3px solid black;
	border-radius:20px;
	padding:10px;
	display: block;
	flex-grow: 0;
	flex-shrink: 1;
	flex-basis: auto;
	align-self: auto;
	order: 0;		
}
.naslov2{
	font-family:Arial;
	font-weight:bold;
	background-color:#003600;
	color:white;
	text-align:center;
	border-radius:10px;
	font-size:150%;
	padding:10px;
}